---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';

const noDisplay = ['on-losing-faith'];

const allPosts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !noDisplay.includes(post.slug));
---

<Page>
  <div>
    <h2 class="text-xl font-bold my-6">Blog</h2>
    <ul class="space-y-5">
      {
        allPosts.map((post) => {
          const { title, redirectTo, pubDate } = post.data;
          const href = redirectTo ? redirectTo : `/blog/${post.slug}`;
          const target = redirectTo ? '_blank' : '_self';
          const date = pubDate.toLocaleDateString('en-US', {
            month: 'short',
            day: 'numeric',
            year: 'numeric'
          });

          return (
            <li>
              <a href={href} target={target} class="text-xl no-underline">
                {title}
              </a>
              <p class="text-sm text-black/60 mt-0.5">{date}</p>
            </li>
          );
        })
      }
    </ul>
  </div>
</Page>
