---
import { getCollection } from 'astro:content';
import Page from '../layouts/Page.astro';
import projects from './projects';

const email = 'mail@farshed.me';

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page>
  <div class="flex justify-between items-center gap-4 mb-8">
    <div class="flex items-center gap-4">
      <img
        src="/faisal-arshed.jpeg"
        alt="Faisal Arshed"
        class="w-12 h-12 rounded-full object-cover hover:animate-spin motion-reduce:animate-none ease-in-out"
      />
      <h1 class="text-lg font-semibold">Faisal Arshed</h1>
    </div>
    <nav class="font-semibold flex flex-wrap gap-x-4 gap-y-2">
      <a href="#writing" class="no-underline">Writing</a>
      <a href="#projects" class="no-underline">Projects</a>
    </nav>
  </div>

  <div class="prose mb-12">
    <p>
      Hi! I'm Faisal, a software engineer and aspiring generalist who likes building and tinkering
      with things.
    </p>
    <p>
      My current areas of active interest include compilers, data-oriented design, WASM, and 2D
      graphics.
    </p>
    <p>Besides tech, I find myself drawn to science, history, and culture.</p>
    <p>
      If you're a recruiter, you might be interested in my <a
        href="/Faisal_Arshed_resume.pdf"
        target="_blank">resume</a
      >.
    </p>
    <p>
      To get in touch, shoot me an email at <a href={`mailto:${email}`}>{email}</a>.
    </p>

    <div class="flex flex-row gap-x-3">
      <a href="https://github.com/farshed" target="_blank" class="font-medium">GitHub</a>
      <a href="https://linkedin.com/in/faisal-arshed" target="_blank" class="font-medium"
        >LinkedIn</a
      >
    </div>
  </div>

  <div class="mb-12">
    <h2 id="writing" class="text-lg font-semibold my-6">Writing</h2>
    <ul class="space-y-2">
      {
        allPosts.map((post) => {
          const { title, redirectTo } = post.data;
          const href = redirectTo ? redirectTo : `/blog/${post.slug}`;
          const target = redirectTo ? '_blank' : '_self';

          return (
            <li>
              <a href={href} target={target} class="font-medium no-underline">
                {title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <div class="mb-12">
    <h2 id="projects" class="text-lg font-semibold my-6">Projects</h2>
    <ul class="space-y-2">
      {
        projects.map((project) => (
          <li>
            <a
              href={project.url}
              target="_blank"
              class="group flex items-center gap-3 rounded-lg bg-slate-100 p-2 transition-colors hover:bg-muted no-underline font-medium"
            >
              <span class="flex gap-2">
                <span>{project.title}</span>
                <span class="text-black/60">-</span>
                <span class="text-black/55">{project.description}</span>
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Page>
