---
import Page from '../layouts/Page.astro';
import { SITE_TITLE } from '../consts';

const booksByYear = {
  2023: [
    {
      title: 'Dangerous Personalities',
      author: 'Joe Navarro and Toni Sciarra Poynter'
    },
    {
      title: 'Maps of Meaning',
      author: 'Jordan Peterson'
    },
    {
      title: 'Crafting Interpreters',
      author: 'Robert Nystrom'
    }
    // {
    //   title: 'Notes From Underground',
    //   author: 'Fyodor Dostoevsky'
    // },
    // {
    //   title: 'The Blind Owl',
    //   author: 'Sadegh Hedayat'
    // },
    // {
    //   title: 'Evil Genes',
    //   author: 'Barbara Oakley'
    // }
  ],
  2022: [
    {
      title: 'Foundation series',
      author: 'Isaac Asimov'
    },
    {
      title: 'A Case of Exploding Mangoes',
      author: 'Mohammed Hanif'
    },
    {
      title: 'The Complete Works of H.P. Lovecraft',
      author: 'H.P. Lovecraft'
    },
    {
      title: 'Meditations',
      author: 'Marcus Aurelius'
    }
  ]
};

const meta = {
  title: `Reading · ${SITE_TITLE}`,
  description: "Faisal Arshed's reading list"
};
---

<Page {...meta}>
  <!-- <p>
    This page hosts a curated selection of literature that I have read and enjoyed, or am in the
    process of reading.
  </p>
  {
    Object.keys(items).map((subject) => (
      <section>
        <h1>{subject}</h1>
        {Object.keys(items[subject]).map((category) => (
          <>
            <p>{category}</p>
            <ul>
              {items[subject][category].map(([title, url]) => (
                <li>
                  {url ? (
                    <a href={url} target="_blank">
                      {title}
                    </a>
                  ) : (
                    title
                  )}
                </li>
              ))}
            </ul>
          </>
        ))}
      </section>
    ))
  } -->
</Page>

<style lang="scss">
  section {
    margin-bottom: 1rem;
    & > p {
      font-size: 1.25rem;
      font-weight: 600;
      // margin-bottom: 1rem;
    }
  }

  h1 {
    font-weight: 400;
  }

  ul {
    row-gap: 0.7rem;
    padding: unset;
    display: flex;
    flex-direction: column;
    // list-style-type: none;
    margin: 0.5rem 0;
  }
</style>
