---
import '../styles/global.scss';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, cover } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<link rel="sitemap" href="/sitemap-index.xml" />

{
  [400, 500, 700].map((wght) => (
    <link
      rel="preload"
      href={`/fonts/Inter-${wght}.woff2`}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  ))
}

<link rel="canonical" href={canonicalURL} />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{cover && <meta property="og:image" content={new URL(cover, Astro.url)} />}

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{cover && <meta property="twitter:image" content={new URL(cover, Astro.url)} />}
