---
import Date from './Date.astro';

const {
  slug,
  data: { title, pubDate, redirectTo }
} = Astro.props.post;

const href = redirectTo ? redirectTo : `/blog/${slug}`;
const target = redirectTo ? '_blank' : '_self';
---

<li class="post-item">
  <a href={href} target={target}>{title}</a>
  <Date date={pubDate} short />
</li>
