---
// const summary =
//   'Full-Stack Engineer with 5 years of experience scaling products from MVP to enterprise. Built and launched complex systems including a workplace platform for a Fortune 500 client, a high-performance email deliverability SaaS, and a CRM that helped NYC real estate adapt during COVID-19. Specializing in React, Node.js, and building fast, reliable backend services. Track record of being the lead engineer on mission-critical projects.';

// const summary =
//   'Full-Stack Engineer focused on frontend with 5 years of experience scaling products from MVP to enterprise. Built and launched complex systems including a workplace platform for a Fortune 500 client, a high-performance email deliverability SaaS, and a CRM that helped NYC real estate adapt during COVID-19. Specializing in React, Node.js, and building robust user experiences.';

const summary = `Full-Stack Engineer with over 6 years of experience building and scaling products from MVP to enterprise. Quick learner with a can-do attitude and a track record of being the lead engineer on mission-critical projects. `;

const workExperience = [
  {
    role: 'Software Engineer',
    company: 'Zeist Labs',
    date: 'May 2025 - Present',
    keypoints: ['Building AI products and helping founders scale from zero to one.']
  },
  {
    role: 'Senior Software Engineer',
    company: 'SmashCloud',
    date: 'July 2022 - May 2025',
    keypoints: [
      'Led the development of a workplace experience B2B SaaS prototype for a French Fortune Global 500 giant.',
      // 'Developed crucial features for a student housing management system used by major property owners across North America, cutting tenant turnover processing time by 60%.',
      'Developed crucial features for a widely adopted tenant turnover management system, streamlining operations for some of the top student housing owners across North America.',
      'Unified the fragmented ERP system of a Quebecois interior manufacturer into a single platform and migrated key services from a legacy C++ codebase to React and Node.js.',
      // 'Consolidated fragmented ERP system for a Quebecois manufacturing client into a single platform and automated manual workflows.',
      'Optimized critical backend services, reducing execution time from several minutes to mere seconds.'
    ]
  },
  {
    role: 'Software Engineer',
    company: 'Pursue Today',
    date: 'March 2021 - June 2022',
    keypoints: [
      'Developed Pribox (now GoCustomer), a SaaS product for tracking and improving email deliverability and domain reputation, acting as its sole engineer during most of the MVP stage.',
      'Built a PostgreSQL → Elasticsearch data pipeline that aggregated millions of data points in subsecond time.',
      'Implemented automated planning and scheduling services for email campaigns with real-time analytics and data visualization.'
    ]
  },
  {
    role: 'Full Stack Engineer',
    company: 'BookOtto',
    date: 'July 2020 - March 2021',
    keypoints: [
      'Prototyped and developed the flagship MVP, taking the product from concept to launch in 4 months.',
      'Developed Cribfox, a CRM and document management solution to digitize bureaucratic operations in the NYC real estate market during the COVID-19 pandemic, used by 30+ agencies.',
      'Helped create and maintain the AWS backend and CI/CD infrastructure.'
    ]
  },
  {
    role: 'React Native Developer',
    company: 'MoneyWhere',
    date: 'March 2019 - December 2019',
    keypoints: [
      'Developed core fintech MVP using React Native and Node.js.',
      'Implemented a virtual currency system, payments, geolocation services, and advanced map features.'
    ]
  }
];

const skills_ = [
  {
    title: 'Languages',
    list: ['JavaScript', 'TypeScript', 'Python', 'Rust']
  },
  {
    title: 'Frontend',
    list: ['React', 'Redux', 'Next.js', 'HTML', 'CSS', 'Tailwind', 'React Native']
  },
  {
    title: 'Backend',
    list: ['Node.js', 'Express', 'GraphQL', 'AWS', 'PostgreSQL', 'MongoDB', 'Docker']
  },
  {
    title: 'Miscellaneous',
    list: ['Git', 'Figma']
  }
];

const skills = [
  'JavaScript',
  'TypeScript',
  'React',
  'Redux',
  'Next.js',
  'Node.js',
  'React Native',
  // 'HTML',
  'CSS',
  'Tailwind',
  // 'Python',
  // 'Flask',
  // 'Rust',
  'AWS',
  'Docker',
  'GraphQL',
  'PostgreSQL',
  'MySQL',
  'MongoDB',
  'Redis'
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <title>Faisal_Arshed_resume</title>
    <style>
      :root {
        /* font-family: sans-serif; */
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.012rem;
      }

      /* h2 {
        font-family: 'Playfair Display', serif;
        letter-spacing: normal;
      } */

      @media print {
        body {
          -webkit-print-color-adjust: exact;
        }
      }
    </style>
  </head>
  <body class="bg-gray-100 min-h-screen text-sm text-black">
    <div class="max-w-4xl mx-auto bg-white overflow-hidden">
      <!-- Header Section -->
      <div class="flex flex-col items-center">
        <h1 class="text-3xl font-medium">Faisal Arshed</h1>

        <div class="flex items-center mt-2 gap-x-4">
          <a href="https://github.com/farshed" target="_blank">github.com/farshed</a>
          <p class="text-gray-400">|</p>
          <a href="mailto:mail@farshed.me">mail@farshed.me</a>
          <p class="text-gray-400">|</p>
          <a href="tel:+92-3096855375">(+92) 309 6855375</a>
        </div>
      </div>

      <!-- Main Content -->
      <div class="px-4 pt-2">
        <!-- Summary Section -->
        <section class="mb-4">
          <h2 class="text-lg font-semibold pb-1 mb-2 border-b">Summary</h2>
          <p class="leading-relaxed">
            {summary}
          </p>
        </section>

        <!-- Work Experience -->
        <section class="mb-4">
          <h2 class="text-lg font-semibold pb-1 mb-2 border-b">Experience</h2>
          {
            workExperience.map((exp) => (
              <div class="mb-2">
                <div class="flex justify-between items-start mb-2">
                  <div>
                    <h3 class="text-sm font-semibold">{exp.role}</h3>
                    <p>{exp.company}</p>
                  </div>
                  <div class="text-right">
                    <p class="font-medium">{exp.date}</p>
                  </div>
                </div>
                <ul class="list-disc ps-3 space-y-0.5">
                  {exp.keypoints.map((kp) => (
                    <li>{kp}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </section>

        <!-- Education -->
        <section class="mb-4">
          <h2 class="text-lg font-semibold pb-1 mb-2 text-gray-800 border-b">Education</h2>
          <div class="flex justify-between items-start">
            <div>
              <h3 class="text-base font-semibold text-gray-800">B.S. in Computer Science</h3>
              <p class="text-gray-800">PMAS Arid Agriculture University</p>
            </div>
            <div class="text-right">
              <p class="font-medium">2016 - 2020</p>
              <p><span class="font-medium">CGPA</span>: 3.37/4.0</p>
            </div>
          </div>
        </section>

        <!-- Skills -->
        <section>
          <h2 class="text-lg font-semibold pb-1 mb-3 border-b">Skills</h2>
          <div class="flex flex-row flex-wrap gap-x-2 gap-y-3">
            {
              skills.map((skill) => (
                <span class="px-3 py-1 text-sm rounded-full bg-gray-200">{skill}</span>
              ))
            }
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
