---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
  </head>
  <body>
    <main><slot /></main>
  </body>
</html>
